<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HomeQuest: Create Reward</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./list.html"><img src="images/homequest_logo.png" id="title-logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./list.html">クエストリスト<span class="sr-only">(current)</span></a></li>
                    <li><a href="./reward_list.html">報酬リスト</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container" id="list-body">
        <section id="reward_form" class="col-sm-6 col-sm-offset-3">
            <form id="addReward">
                <div class="form-group">
                    <label for="reward_detail">内容</label>
                    <div class="form-group">
                        <textarea v-model="title" class="form-control" id="reward_detail" placeholder="例）好きなおもちゃをプレゼント！" rows="1"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="required_point">必要なポイント</label>
                    <div class="input-group">
                        <input v-model="point" type="number" class="form-control" id="required_point" name="required_point" placeholder="1,000">
                        <span class="input-group-addon" id="basic-addon2">ポイント</span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button v-on:click="createReward" type="button" class="btn btn-primary">景品を追加</button>
                </div>
                <div class="form-group text-center">
                    <p>{{ message }}</p>
                </div>
            </form>
        </section>
    </div>

    <script src="./javascripts/bower.js"></script>
    <script src="./javascripts/all.js"></script>
    <script src="javascripts/swagger.js"></script>

    <script>
        var token = loadHomeQuestToken();
        if (!token) {
            // redirect('signin.html');
        }
        var api = HomeQuest_API(token);

        var rewardForm = new Vue({

            el: '#addReward',

            data: {
                title: null,
                point: null,
                message: null
            },

            methods: {
                createReward: function () {
                    var self = this;
                    var newReward = new HomeQuest.NewReward();

                    newReward.title = self.title;
                    newReward.point = self.point;

                    api.rewardPost(newReward, function (error, data, response) {
                        if (!error) {
                            redirect('reward_list.html');
                        } else {
                            self.message = error;
                            console.log(data);
                            console.log(response);
                        }
                    });
                }
            }
        })
    </script>
</body>

</html>
