<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HomeQuest: Create Quest</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./list.html"><img src="images/homequest_logo.png" id="title-logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./list.html">クエストリスト<span class="sr-only">(current)</span></a></li>
                    <li><a href="./reward_list.html">報酬リスト</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container" id="list-body">
        <section id="quest_form">
            <form id="createQuest">
                <div class="form-group col-xs-12">
                    <label for="quest_name">クエスト名</label>
                    <div class="input-group">
                        <input v-model="title" type="text" class="form-control" id="quest_name" name="quest_name" placeholder="クエスト名">
                        <span class="input-group-addon" id="basic-addon1">せよ！！</span>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="reward">報酬</label>
                    <div class="input-group">
                        <input v-model="point" type="number" class="form-control" id="reward" name="reward" placeholder="達成した時の報酬ポイント">
                        <span class="input-group-addon" id="basic-addon2">ポイント</span>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="level">むずかしさ</label>
                    <select v-model="difficulty" class="form-control" id="level" name="level">
                        <option value="0">★☆☆☆☆：チョ～かんたん！</option>
                        <option value="1">★★☆☆☆：かんたん！</option>
                        <option value="2">★★★☆☆：ふつう</option>
                        <option value="3">★★★★☆：時間がかかるかも？</option>
                        <option value="4">★★★★★：めっちゃムズい！</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label for="limit-for-entry">応募締め切り</label>
                    <input v-model="application_deadline" type="datetime-local" class="form-control" id="limit-for-entry" name="limit-for-entry">
                </div>
                <div class="form-group col-sm-4">
                    <label for="limit-for-done">応募締め切り</label>
                    <input v-model="completion_deadline" type="datetime-local" class="form-control" id="limit-for-done" name="limit-for-done">
                </div>
                <div class="form-group col-xs-12">
                    <label for="quest_detail">クエスト詳細（任意）</label>
                    <textarea v-model="description" class="form-control" id="quest_detail" rows="3"></textarea>
                </div>
                <div class="form-group text-center">
                    <button v-on:click="createQuest" type="button" class="btn btn-primary">クエストを作成</button>
                </div>
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <script src="javascripts/bower.js"></script>
    <script src="javascripts/all.js"></script>
    <script src="javascripts/swagger.js"></script>

    <script>
        var token = loadHomeQuestToken();
        if (!token) {
            redirect('signin.html');
        }
        var api = HomeQuest_API(token);

        var createQuest = new Vue({

            el: '#createQuest',

            data: {
                title: null,
                application_deadline: null,
                completion_deadline: null,
                point: null,
                difficulty: null,
                description: null,
                status: null, // common
                message: null // common
            },

            created: function() {
                this.retrieveStatus();
            },

            methods: {
                retrieveStatus: function() {
                    var self = this;

                    api.statusGet(function(error, data, response) {
                        if (!error) {
                            self.status = data;
                            if (!self.status['is_admin']) {
                                redirect('signin.html');
                            }
                        } else {
                            self.message = error;
                            console.log(data);
                            console.log(response);
                        }
                    });
                },

                createQuest: function() {
                    var self = this;
                    var newTask = new HomeQuest.NewTask();

                    newTask.title = self.title;
                    newTask.application_deadline = str2epoch(self.application_deadline);
                    newTask.completion_deadline = str2epoch(self.completion_deadline);
                    newTask.point = self.point;
                    newTask.difficulty = self.difficulty;
                    newTask.description = self.description;

                    api.taskPost(newTask, function(error, data, response) {
                        if (!error) {
                            redirect('list.html');
                        } else {
                            self.message = error;
                            console.log(data);
                            console.log(response);
                        }
                    });
                }
            }
        })
    </script>

</body>

</html>
